.boton {
    background-color: green;
    text-align: center;
    color: pink;
    border-radius: 20px;
    border: 1px solid black;

    &:hover {
        filter: opacity(85%);
        background-color: blue;
    }
}

.botonRojo {
    @extend .boton;
    background-color: red;
    color: yellow;
}

.botonVerde {
    @extend .boton;
    background-color: green;
    color: white;
}